.lbs-search-form,
.lbs-book-data{
    padding: 5%;
    margin-top: 5%;
    border: 1px solid rgba( 0, 0, 0, 0.5 );
}

.lbs-form-title{
    text-align: center;
    border: 1px solid rgba( 0, 0, 0, 0.5 );
    border-radius: 5px;
    background: #09f;
    color: #fff;
}

.lbs-fieldset{
    display: inline-block;
    max-width: 49%;
    margin-top: 15px;
}

.lbs-price-fieldset{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.lbs-price-fieldset label{
    display: inline-block;
}

.lbs-fieldset label{
    display: inline-block;
}

.lbs-fieldset select {
    width: 100%;
}

.lbs-search-form form .lbs-form-submit{
    display: inline-block;
    text-align: center;
    background-color: #09f;
    border-radius: 5px;
}

.lbs-search-form form .lbs-form-submit:hover{
    background: transparent;
    color: #09f;
    border: 1px solid #09f;
}

.lbs-submit{
    text-align: center;
    margin: 20px;
}

#amount {
    display: inline;
}
